<form action="/entries" method="post">
<label for="entry">
  Diary Entry:
  <input type="text" name="entry">
</label>
<label for="title">
  Title:
  <input type="text" name="title">
</label>
<input type="submit" value="Submit">
<form>
